.Header
{
    text-align: center;
    background-color: #EEEEEE;
    padding-bottom: 10px;
}

.LoginOrientation
{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 45%;
    text-align: center;
}

.LoginButtons
{
    width: 100px;
}