.Header
{
    text-align: center;
    background-color: #EEEEEE;
    padding-bottom: 10px;
}

.LoginOrientation
{
    text-align: center;
}

.LoginButtons
{
    width: 100px;
}

#table_highscores table,th,td
{
    border: 1px solid black;;
}